git+https://github.com/adsabs/ADSMicroserviceUtils.git@v1.1.9
cvxopt==1.2.5
editdistance==0.5.3
flask-redis==0.4.0
itsdangerous==2.0.1
jinja2==3.0.3
nltk==3.5
numpy==1.19.5
redis==3.5.3
scikit-learn==1.0.2
scipy==1.6.0
# is needed to be this version for pystruct
setuptools==58
unidecode==1.1.2
werkzeug==2.0.2
